deploy/chart/files/n8n-workflows/signal-receive.json
{
  "name": "signal-receive",
  "id": "signalRecv000001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Alle 30s pollen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://signal-api:8080/v1/receive/+4935125988971",
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Signal empfangen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items=$input.all();let envs=[];for(const it of items){const j=it.json;if(Array.isArray(j)){envs.push(...j);}else if(j&&Array.isArray(j.data)){envs.push(...j.data);}else if(j){envs.push(j);}}return envs.filter(e=>e&&e.envelope&&e.envelope.dataMessage&&e.envelope.dataMessage.message).map(e=>({json:{from:e.envelope.sourceNumber||e.envelope.source,name:e.envelope.sourceName,message:e.envelope.dataMessage.message,timestamp:e.envelope.timestamp}}));"
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Nachrichten parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {},
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "Neue Nachricht (hier eigene Logik anschliessen)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Alle 30s pollen": {
      "main": [
        [
          {
            "node": "Signal empfangen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal empfangen": {
      "main": [
        [
          {
            "node": "Nachrichten parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachrichten parsen": {
      "main": [
        [
          {
            "node": "Neue Nachricht (hier eigene Logik anschliessen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
