deploy/chart/files/n8n-workflows/signal-llm-bot.json
{
  "name": "signal-llm-bot",
  "id": "signalRecv000001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "reconnectDelay": 5,
        "ignoreMessages": false,
        "ignoreAttachments": false,
        "ignoreReactions": false,
        "ignorePollVotes": false
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Signal Trigger",
      "type": "n8n-nodes-signal-cli-rest-api.signalTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": {
        "signalApi": {
          "id": "signalApiCred01",
          "name": "Signal account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const out=[];for(const it of $input.all()){const j=it.json;const src=(j.envelope&&(j.envelope.sourceNumber||j.envelope.source))||j.sourceNumber||j.source||'';const text=j.messageText||(j.envelope&&j.envelope.dataMessage&&j.envelope.dataMessage.message)||'';if(j.messageType!=='outgoing'&&text&&src==='+491605048727'){out.push({json:{from:src,message:text}});}}return out;"
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Nachrichten von mir filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llm.collana.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"general\", \"messages\": [ { \"role\": \"user\", \"content\": {{ JSON.stringify($json.message) }} } ] }",
        "options": {}
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "LiteLLM general",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "openAiApi": {
          "id": "litellmOpenAi01",
          "name": "LiteLLM (general)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://signal-api:8080/v2/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": {{ JSON.stringify($json.choices[0].message.content) }}, \"number\": \"+4935125988971\", \"recipients\": [\"+491605048727\"] }",
        "options": {}
      },
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Signal Trigger": {
      "main": [
        [
          {
            "node": "Nachrichten von mir filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachrichten von mir filtern": {
      "main": [
        [
          {
            "node": "LiteLLM general",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM general": {
      "main": [
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
