deploy/chart/files/n8n-workflows/signal-llm-bot.json
{
  "name": "signal-llm-bot",
  "id": "signalRecv000001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Alle 30s pollen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://signal-api:8080/v1/receive/+4935125988971",
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Signal empfangen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items=$input.all();let envs=[];for(const it of items){let j=it.json;if(j&&typeof j.data==='string'){try{j=JSON.parse(j.data);}catch(_){}}if(typeof j==='string'){try{j=JSON.parse(j);}catch(_){}}if(Array.isArray(j)){envs.push(...j);}else if(j&&Array.isArray(j.data)){envs.push(...j.data);}else if(j){envs.push(j);}}return envs.filter(e=>e&&e.envelope&&e.envelope.dataMessage&&e.envelope.dataMessage.message).filter(e=>(e.envelope.sourceNumber||e.envelope.source)==='+491605048727').map(e=>({json:{from:e.envelope.sourceNumber||e.envelope.source,message:e.envelope.dataMessage.message}}));"
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Nachrichten von mir filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llm.collana.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"general\", \"messages\": [ { \"role\": \"user\", \"content\": {{ JSON.stringify($json.message) }} } ] }",
        "options": {}
      },
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "LiteLLM general",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "litellmOpenAi01",
          "name": "LiteLLM (general)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://signal-api:8080/v2/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": {{ JSON.stringify($json.choices[0].message.content) }}, \"number\": \"+4935125988971\", \"recipients\": [\"+491605048727\"] }",
        "options": {}
      },
      "id": "b5555555-5555-5555-5555-555555555555",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Alle 30s pollen": {
      "main": [
        [
          {
            "node": "Signal empfangen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal empfangen": {
      "main": [
        [
          {
            "node": "Nachrichten von mir filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachrichten von mir filtern": {
      "main": [
        [
          {
            "node": "LiteLLM general",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM general": {
      "main": [
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}